body {
    margin: 0;
    padding: 0;
    background: #e8eafc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 100px;
    margin-bottom: 30px;
    color: #555;
}

.alert {
    width: 370px;
}

.alert button {
    border: 0;
    background: none;
    outline: none;
    font-weight: bold;
    text-decoration: underline;
}

.container {
    max-width: 370px;
    background: #FFF;
    padding: 30px;
}

.container p {
    font-size: 14px;
    font-weight: 400;
    color: #444;
}

.container form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
}

form input {
   width: 100%;
   margin: 5px 0;
}

.container a {
    text-decoration: underline;
    color: black;
    opacity: .6;
}

.container a:hover {
    opacity: 1;
}

.btn-green {
    background: #009488;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-green:hover {
    background: #00645c;
    color: #fff;
}